@using FlightReservationSystem.ViewModel
@model EditViewModel

@{
    ViewData["Title"] = "Edit Role";
}

<h2>@ViewData["Title"]</h2>

<div class="card">
    <div class="card-body">
        <form asp-action="EditRole" method="post">
            <label asp-for="Id"></label>
            <input asp-for="Id" class="form-control" disabled />

            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label><strong>Users in this Role:</strong></label>
                @if (Model.Users != null && Model.Users.Any())
                {
                    <ul>
                        @foreach (var user in Model.Users)
                        {
                            <li>@user</li>
                        }
                    </ul>
                }
                else
                {
                    <p>No users assigned to this role.</p>
                }
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="ListRole" class="btn btn-secondary">See the Admin</a>

            <div asp-validation-summary="All" class="text-danger"></div>
            @* <a asp-action="EditUserInRole" asp-controller="Administration" class="btn btn-secondary">Add or Remove User</a> *@
            <a class="btn btn-sm btn-primary" asp-controller="Administration" asp-action="EditUsersInRole" asp-route-roleId="@Model.Id">Add or Remove User</a>

        </form>
    </div>
</div>
